.parent{
  display:flex;
  flex-direction: row;
  border:2px solid blue;
  }


     a{
       word-wrap:break-word;
     }
     table{
       width:90%;
     }
     td{
       padding:2%;
     }
tr:nth-child(even){
  background: #ddd;
}
     .childone{
       width:30%;
        border:2px solid red;
        padding:2%;
        margin: 2%;
        border-radius: 10%;
        background-color: skyblue;
        height: 40%;
        box-shadow: 5px 5px 5px #000;

         }

         .childtwo{
            width:50%;
            border: 2px solid red;
            padding:2%;
             margin: 2%;
             background-color: pink;
             box-shadow: 5px 5px 5px #000;
           }
 img{
   width:30%;
   height:auto;
   display:block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   box-shadow: 6px 9px 8px green
 }
 @media only screen and (min-width:320px) and (max-width:480px){
   .parent{
     display:flex;
     flex-direction: column;
     }

      .parent{
        border:2px solid blue;
        }

        .childone{
          width:50%;
           border:2px solid red;
           padding:2%;
           margin: 2%;
           border-radius: 10%;
           background-color: skyblue;

            }

            .childtwo{
               width:50%;
               border: 2px solid red;
               padding:2%;
                margin: 2%;
              }
    img{
      width:50%;
      height:50%;
      display:block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      box-shadow: 6px 9px 8px green
    }
 }
 @media only screen and (min-width:481px) and (max-width:768px){
   .parent{
     display:flex;
     flex-direction: row;
     }

      .parent{
        border:2px solid blue;
        }

        .childone{
          width:50%;
           border:2px solid red;
           padding:2%;
           margin: 2%;
           border-radius: 10%;
           background-color: green;

            }

            .childtwo{
               width:50%;
               border: 2px solid red;
               padding:2%;
                margin: 2%;
              }
    img{
      width:100%;
      height:50%;
      display:block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      box-shadow: 6px 9px 8px green
    }
 }
 @media only screen and (min-width:769px) and (max-width:768px){
   .parent{
     display:flex;
     flex-direction: row;
     }

      .parent{
        border:2px solid blue;
        }

        .childone{
          width:100%;
           border:2px solid red;
           padding:2%;
           margin: 2%;
           border-radius: 10%;
           background-color: green;

            }

            .childtwo{
               width:100%;
               border: 2px solid red;
               padding:2%;
                margin: 2%;
              }
    img{
      width:100%;
      height:50%;
      display:block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      box-shadow: 6px 9px 8px green
    }
 }
